<footer>
	<div id="footer-left">
		<a href="mailto:xuesongnie@zju.edu.cn"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.twitter.com/xuesongnie"><i class="fa-lg fab fa-twitter footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/xuesongnie"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.linkedin.com/in/xuesongnie"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<a href="https://vis.social/@xuesongnie" rel="me"><i class="fa-lg fab fa-mastodon footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?user=nBPNLhgAAAAJ"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Xuesong Nie
	</div>
	<div id="footer-right">
		Xuesong Nie is a researcher whose long-term aspiration is to create innovations that might change human life.
	</div>
</footer>
